<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Camara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Uso de camara</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="takePicture()">Take a Picture</ion-button>
    <img *ngIf="imageSource" src="{{imageSource}}" alt="image" style="width: 100%;max-width: 250px;"></div>
</ion-content>
