<ion-header>
  <ion-toolbar>
    <ion-title>
      Modificar reserva
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <form>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input formControlName="telefono" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cantidad de personas</ion-label>
        <ion-input formControlName="cantidad" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hora de llegada</ion-label>
        <ion-input formControlName="hora" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-input formControlName="fecha" type="text" required>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="medium" shape="full" expand="block">Modificar reserva</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
