<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Form
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Sin cuenta? Cree una aquí</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Ingrese a su cuenta</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
