<ion-header>
  <ion-toolbar>
    <ion-title>
      Tu-Mesa
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registro']" expand="block" color="warning">¿Sin cuenta? Crea una aquí</ion-button>
        <span class="divider line one-line"> </span>
        <span class="already">¿Ya estás registrado?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="medium">Ingresa a tu cuenta</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
